@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

body {
  background-color: var.$color-light;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin-bottom: math.div(var.$gutter-base, 2);
}

.title,
h2 {
  font-family: var.$font-special;
  color: var.$color-dark;
}

a{
    text-decoration: none;
    margin-bottom: 0;
}

