@use 'sass:math';

@function rem-calc($size) {
    @return (math.div($size, 16)) * 1rem;
  }
  
// Font
$font-base:          'Roboto', sans-serif;
$font-special:   'Reenie Beanie', cursive;

// Color Settings:
$color-light:                   #FCEBD5;
$color-dark :                   #A16A5E;
$color-lightent-dark:           #EDD5BB;
$color-special:                 #D54C2E;  

// Size Settings: 
$gutter-base:                rem-calc(30);

$font-weight-normal:                  400;
$font-weight-bold:                    800;


$radius-standard:    0.2rem
